<!-- begin list-email -->
<ul class="list-group list-group-lg no-radius list-email">
  <li class="list-group-item unread">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user bg-gradient-blue">
      <span class="text-white">F</span>
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">Today</span>
        <span class="email-sender">Facebook Blueprint</span>
        <span class="email-title">Newly released courses, holiday marketing tips, how-to video, and more!</span>
        <span class="email-desc">Sed scelerisque dui lacus, quis pellentesque lorem tincidunt rhoncus. Nulla accumsan elit pharetra, lacinia turpis nec, varius erat.</span>
      </a>
    </div>
  </li>
  <li class="list-group-item unread">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user bg-gradient-purple">
      <span class="text-white">C</span>
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">Today</span>
        <span class="email-sender">Color Admin</span>
        <span class="email-title">Color Admin dashboard v2 is ready for live</span>
        <span class="email-desc">Proin interdum aliquam urna, quis lobortis magna tincidunt ac. Integer sed pulvinar neque...</span>
      </a>
    </div>
  </li>
  <li class="list-group-item unread">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user bg-grey">
      <span class="text-white">W</span>
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">Today</span>
        <span class="email-sender">support@wrapbootstrap.com</span>
        <span class="email-title">Bootstrap v4.0 is coming soon</span>
        <span class="email-desc">Praesent id pulvinar orci. Donec ac metus non ligula faucibus venenatis. Suspendisse tortor est, placerat eu dui sed...</span>
      </a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user bg-grey">
      <i class="fab fa-github-alt text-white"></i>
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">2 days ago</span>
        <span class="email-sender">Github</span>
        <span class="email-title">Sidebar animation bugfix</span>
        <span class="email-desc">Nam sit amet lacinia massa, sit amet blandit urna. Duis pharetra ex id ipsum posuere...</span>
      </a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user bg-grey">
      <span class="text-white">W</span>
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">1 week ago</span>
        <span class="email-sender">Wrapbootstrap</span>
        <span class="email-title">Bootstrap Framework is awesome</span>
        <span class="email-desc">Etiam enim ipsum, malesuada in consectetur interdum, malesuada et lacus. Aenean faucibus turpis lorem...</span>
      </a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user">
      <img src="../assets/img/user/user-12.jpg" alt="" />
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">2 months ago</span>
        <span class="email-sender">Gerald Huff</span>
        <span class="email-title">Handlebars help you to build semantic template </span>
        <span class="email-desc">Proin consectetur accumsan rhoncus. Nulla porta orci ultricies lectus consequat fringilla. Vestibulum ante ipsum primis in faucibus...</span>
      </a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user">
      <img src="../assets/img/user/user-1.jpg" alt="" />
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">2 months ago</span>
        <span class="email-sender">Rick Hopkins</span>
        <span class="email-title">jQuery 2++ no longer compatibility with the old browser</span>
        <span class="email-desc">Suspendisse ut urna orci. Vivamus ac diam sollicitudin, consequat mauris id, facilisis ipsum. Nam feugiat nisl a justo...</span>
      </a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user">
      <img src="../assets/img/user/user-13.jpg" alt="" />
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">2 months ago</span>
        <span class="email-sender">Jan Scott</span>
        <span class="email-title">LESS & SASS, which one is good?</span>
        <span class="email-desc">Nam vulputate cursus imperdiet. Sed sodales urna vitae ipsum iaculis, at fermentum...</span>
      </a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user">
      <img src="../assets/img/user/user-14.jpg" alt="" />
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">3 months ago</span>
        <span class="email-sender">Nadine Barnes</span>
        <span class="email-title">Simple Line Icons is available on Color Admin v1.4</span>
        <span class="email-desc">Maecenas auctor dui sit amet tristique congue. Pellentesque lobortis nulla quam. Etiam in vulputate magna...</span>
      </a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user bg-grey">
      <span class="text-white">E</span>
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">3 months ago</span>
        <span class="email-sender">Ellen Underwood</span>
        <span class="email-title">Font Awesome 5 is available now</span>
        <span class="email-desc">Proin consectetur accumsan rhoncus. Nulla porta orci ultricies lectus consequat fringilla. Vestibulum ante ipsum primis in faucibus...</span>
      </a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user bg-grey">
      <span class="text-white">W</span>
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">3 months ago</span>
        <span class="email-sender">newsletter@wrapbootstrap.com</span>
        <span class="email-title">Cyber week sale! Save up to 45%</span>
        <span class="email-desc">Praesent id pulvinar orci. Donec ac metus non ligula faucibus venenatis. Suspendisse tortor est, placerat eu dui sed...</span>
      </a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="email-checkbox">
      <label>
        <i class="far fa-square"></i>
        <input type="checkbox" data-checked="email-checkbox" />
      </label>
    </div>
    <a ui-sref="app.email.detail" class="email-user bg-grey">
      <span class="text-white">S</span>
    </a>
    <div class="email-info">
      <a ui-sref="app.email.detail">
        <span class="email-time">3 months ago</span>
        <span class="email-sender">Starbucks</span>
        <span class="email-title">Get your favorite Grande handcrafted beverage at $13</span>
        <span class="email-desc">Nam vulputate cursus imperdiet. Sed sodales urna vitae ipsum iaculis, at fermentum...</span>
      </a>
    </div>
  </li>
</ul>
<!-- end list-email -->
