<!-- begin panel -->
<div class="panel panel-inverse">

  <!-- begin panel-heading -->
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title height-20">Form</h4>
  </div>
  <!-- end panel-heading -->

  <!-- begin panel-body -->
  <div class="panel-body">

    <!-- begin form -->
    <form class="form-horizontal form-bordered" name="vm.form.guestForm" novalidate autocomplete="off">

      <div class="alert alert-secondary show">
        <span class="text-danger f-s-15">*</span> Required information.
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2 bg-silver-lighter"><span class="text-danger">*</span>Providers</label>
        <div class="col-lg-4">
          <span provider>{{vm.guest.providers[0]}}</span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2 bg-silver-lighter"><span class="text-danger">*</span>Username</label>
        <div class="col-lg-4">
          {{vm.guest.username}}
        </div>
      </div>

      <div class="form-group row" show-errors>
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="email"><span class="text-danger">*</span>Email</label>
        <div class="col-lg-4">
          <input type="email" class="form-control form-control-sm" ng-model="vm.guest.email" name="email" placeholder="Email..." lowercase required />
          <div ng-messages="vm.form.guestForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group row" show-errors>
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="mobile"><span class="text-danger">*</span>Mobile</label>
        <div class="col-lg-4">
          <input type="text" class="form-control form-control-sm" ng-model="vm.guest.mobile" name="mobile" placeholder="Mobile..." mask="999-9999-9999" clean="true" required />
          <div ng-messages="vm.form.guestForm.mobile.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Mobile is required.</p>
          </div>
        </div>
      </div>


      <div class="form-group row" show-errors>
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="koreanName"><span class="text-danger">*</span>Korean Name</label>
        <div class="col-lg-4">
          <input type="text" class="form-control form-control-sm" ng-model="vm.guest.koreanName" name="koreanName" placeholder="Korean Name..." required />
          <div ng-messages="vm.form.guestForm.koreanName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Korean Name is required.</p>
          </div>
        </div>
      </div>


      <div class="form-group row" show-errors>
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="englishName"><span class="text-danger">*</span>English Name</label>
        <div class="col-lg-4">
          <input type="text" class="form-control form-control-sm" ng-model="vm.guest.englishName" name="englishName" placeholder="English Name..." required />
          <div ng-messages="vm.form.guestForm.englishName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">English Name is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="skype">Skype</label>
        <div class="col-lg-4">
          <input type="text" class="form-control form-control-sm" ng-model="vm.guest.skype" name="skype" placeholder="Skype..." />
        </div>
      </div>
    </form>
    <!-- end form -->

  </div>
  <!-- end panel-body -->
  <!-- begin panel-footer -->
  <div class="panel-footer text-right">
    <button ui-sref="guest.list" class="btn btn-white btn-sm">Cancel</button>
    <button ng-click="vm.modify(vm.form.guestForm.$valid)" class="btn btn-primary btn-sm"><i class="fas fa-check"></i> Submit</button>
  </div>
  <!-- end panel-footer -->
</div>
<!-- end panel -->
