<!-- begin panel -->
<div class="panel panel-inverse">

  <!-- begin panel-heading -->
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title height-20">Filter</h4>
  </div>
  <!-- end panel-heading -->

  <!-- begin panel-body -->
  <div class="panel-body">

    <div class="row row-space-10">

      <div class="col-md-1">
        <div class="form-group m-b-10">
          <select class="form-control form-control-sm" chosen ng-model="vm.itemsPerPage" ng-options="itemsPerPage for itemsPerPage in vm.itemsPerPageNumbers" ng-change="vm.changeItemsPerPage(vm.itemsPerPage)"></select>
        </div>
      </div>
      <div class="col-md-1 m-t-5">
        <div class="form-group">
          Total <span class="text-danger">{{vm.coupons.length}}</span>
        </div>
      </div>

      <div class="col-md-2 offset-md-7">
        <div class="form-group m-b-10">
          <input class="form-control form-control-sm" type="text" placeholder="Search..." ng-model="vm.search.$" ng-change="vm.figureOut()" />
        </div>
      </div>

      <div class="col-md-1">
        <div class="form-group">
          <a ui-sref="member.view.coupon.add" class="btn btn-primary btn-block btn-sm"><i class="fas fa-plus"></i> Add</a>
        </div>
      </div>

    </div>

  </div>
  <!-- end panel-body -->
</div>
<!-- end panel -->

<!-- begin panel -->
<div class="panel panel-inverse">

  <!-- begin panel-heading -->
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title height-20">List</h4>
  </div>
  <!-- end panel-heading -->

  <!-- begin panel-body -->
  <div class="panel-body">

    <!-- begin table-responsive -->
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th class="with-checkbox" width="1%">
              <div class="checkbox checkbox-css">
                <input type="checkbox" value="" id="table_checkbox_1" />
                <label for="table_checkbox_1">&nbsp;</label>
              </div>
            </th>
            <th class="text-center" width="1%">#</th>
            <th>Coupon Name</th>
            <th>Serial Number</th>
            <th class="text-right">Discount</th>
            <th class="text-right">Expiry Date</th>
            <th class="text-right">Use Date</th>
            <th class="text-right">State</th>
            <!-- <th>Publisher</th> -->
            <th class="text-right">Created</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="coupon in vm.pagedItems">

            <td class="with-checkbox">
              <div class="checkbox checkbox-css">
                <input type="checkbox" value="" id="table_checkbox_1" />
                <label for="table_checkbox_1">&nbsp;</label>
              </div>
            </td>

            <td>
              {{coupon.counters}}
            </td>

            <td>
              <a class="text-black" ui-sref="member.view.coupon.modify({couponId: coupon._id})">{{coupon.title}}</a>
            </td>

            <td>
              {{coupon.code | coupon}}
            </td>

            <td class="text-right" ng-switch="coupon.discountType">
              <span ng-switch-when="price">
                {{coupon.amount | currency : '₩ ' : 0}}
              </span>
              <span ng-switch-when="rate">
                {{coupon.amount | currency : '' : 0}}%
              </span>
            </td>

            <td class="text-right">
              {{coupon.expired | date: 'yyyy/MM/dd'}}
            </td>

            <td class="text-right">
              {{coupon.used | date: 'yyyy/MM/dd HH:mm'}}
            </td>

            <td class="text-right">
              <span state>{{coupon.state}}</span>
            </td>

            <!-- <td class="with-img">
              <img ng-src="{{coupon.publisher.profileImage}}" class="img-rounded height-30" />
              {{coupon.publisher.username}}
            </td> -->


            <td class="text-right">
              {{coupon.created | date: 'yyyy/MM/dd HH:mm'}}
            </td>

            <td class="text-right with-btn" nowrap>
              <button ng-if="coupon.state !== 'used'" ng-click="vm.removeCoupon(coupon._id, coupon.user._id)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Remove</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pull-right">
        <ul uib-pagination class="pagination-sm" boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;"
          first-text="&laquo;" last-text="&raquo;">
        </ul>
      </div>
    </div>
    <!-- end table-responsive -->
  </div>
  <!-- end panel-body -->
</div>
<!-- end panel -->
