<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
  <li class="breadcrumb-item">Resource Management</li>
  <li class="breadcrumb-item active">SMS(Surem) Log</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">SMS(Surem) Log</h1>
<!-- end page-header -->

<hr class="bg-grey-lighter" />

<!-- begin row -->
<div class="row">
  <!-- begin col-12 -->
  <div class="col-lg-12">
    <!-- begin panel -->
    <div class="panel panel-inverse">

      <!-- begin panel-heading -->
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title height-20">Filter</h4>
      </div>
      <!-- end panel-heading -->

      <!-- begin panel-body -->
      <div class="panel-body">

        <div class="row row-space-10">
          <div class="col-md-1">
            <div class="form-group">
              <select class="form-control form-control-sm" chosen ng-model="vm.itemsPerPage" ng-options="itemsPerPage for itemsPerPage in vm.itemsPerPageNumbers" ng-change="vm.changeItemsPerPage(vm.itemsPerPage)"></select>
            </div>
          </div>
          <div class="col-md-1 m-t-5">
            <div class="form-group">
              Total <span class="text-danger">{{vm.surems.length}}</span>
            </div>
          </div>

          <div class="col-md-2 offset-md-8">
            <div class="form-group">
              <input class="form-control form-control-sm" type="text" placeholder="Search..." ng-model="vm.search.$" ng-change="vm.figureOut()" />
            </div>
          </div>

        </div>


      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->


  <!-- begin col-12 -->
  <div class="col-lg-12">
    <!-- begin panel -->
    <div class="panel panel-inverse">

      <!-- begin panel-heading -->
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title height-20">List</h4>
      </div>
      <!-- end panel-heading -->

      <!-- begin panel-body -->
      <div class="panel-body">

        <!-- begin table-responsive -->
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th class="with-checkbox" width="1%">
                  <div class="checkbox checkbox-css">
                    <input type="checkbox" value="" id="table_checkbox_1" />
                    <label for="table_checkbox_1">&nbsp;</label>
                  </div>
                </th>
                <th class="text-center" width="1%">#</th>
                <th>Provider</th>
                <!-- <th>Send Type</th> -->
                <th>Username</th>
                <th>Korean Name</th>
                <th>Mobile</th>
                <th>Service</th>
                <th>Text</th>
                <th>Sender</th>
                <th ng-if="vm.auth.user.roles[0] === 'creator'">Response Message</th>
                <th class="text-right">State</th>
                <th class="text-right">Created</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="surem in vm.pagedItems">

                <td class="with-checkbox">
                  <div class="checkbox checkbox-css">
                    <input type="checkbox" value="" id="table_checkbox_1" />
                    <label for="table_checkbox_1">&nbsp;</label>
                  </div>
                </td>

                <td>
                  {{surem.counters}}
                </td>

                <td>
                  <span provider>{{surem.providers[0]}}</span>
                </td>

                <!-- <td>
                  <span class="label label-default">{{surem.sendType | capitalize}}</span>
                </td> -->

                <td class="with-img">
                  <img ng-src="{{surem.to.profileImage}}" class="img-rounded height-30" />
                  <a ui-sref="{{surem.to.roles[0]}}.view.modify({
                    {{surem.to.roles[0]}}Id: surem.to._id
                  })">{{surem.to.username}}</a>
                </td>

                <td>
                  {{surem.to.koreanName}}
                </td>

                <td>
                  <span menual-mobile="surem.to._id">{{surem.mobile | mobile}}</span>
                </td>

                <td>
                  <span ng-class="{'SMS': 'label label-success', 'LMS': 'label label-warning'}[surem.suremType]">{{surem.suremType}}</span>
                </td>

                <td>
                  <a href="javascript:;" data-target="#modal-without-animation" class="text-dark" data-toggle="modal" ng-click="vm.currentText = surem.text">{{surem.text | cutContents:20}}</a>
                </td>

                <td class="with-img">
                  <img ng-src="{{surem.from.profileImage}}" class="img-rounded height-30" />
                  <span>{{surem.from.nickName}}</span>
                  <span ng-if="!surem.from" class="label label-secondary">SYSTEM</span>
                </td>

                <td ng-if="vm.auth.user.roles[0] === 'creator'">
                  {{surem.response.message}}
                </td>


                <td class="text-right">
                  <span ng-class="{
                     'label label-success': surem.response.code === '200',
                     'label label-danger': surem.response.code !== '200'
                  }">{{(surem.response.code === '200')? 'Success' : 'Error'}}</span>
                </td>

                <td class="text-right">
                  {{surem.created | date: 'yyyy/MM/dd HH:mm'}}
                </td>

              </tr>
            </tbody>
          </table>

          <div class="pull-right">
            <ul uib-pagination class="pagination-sm" boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;"
              first-text="&laquo;" last-text="&raquo;">
            </ul>
          </div>
        </div>
        <!-- end table-responsive -->
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->

<div class="modal" id="modal-without-animation">
  <div class="modal-dialog talk-dream">
    <div class="modal-content">
      <div class="surem-header">
        <i class="far fa-envelope-open"></i> 문자 메시지
      </div>
      <div class="modal-body">
        <div ng-bind-html="vm.currentText | toBr">
        </div>
      </div>
    </div>
  </div>
</div>
