<div class="panel panel-inverse">

  <!-- begin panel-heading -->
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title height-20">Form</h4>
  </div>
  <!-- end panel-heading -->

  <div class="panel-body">

    <form class="form-horizontal form-bordered" name="vm.form.monthlyForm" novalidate autocomplete="off">

      <div class="alert alert-secondary fade show">
        Monthly evaluation infomation.
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2 bg-silver-lighter">Course Infomation</label>
        <div class="col-lg-4">
          {{vm.monthly.course.payment.paymentedProduct.title}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2 bg-silver-lighter">Tutor</label>
        <div class="col-lg-4">
          <select class="form-control form-control-sm" name="tutors" chosen multiple ng-model="vm.monthly.tutors" multiple="multiple" ng-options="tutor._id as tutor.nickName group by tutor.nation for tutor in vm.tutors" required></select>
          <div ng-messages="vm.form.monthlyForm.tutors.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tutors is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2 bg-silver-lighter">Evaluation Month</label>
        <div class="col-lg-4">
          {{vm.monthly.started | date: 'yyyy/MM'}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2 bg-silver-lighter">Evaluation Start Date</label>
        <div class="col-lg-4">
          <div class="input-group input-group-sm date" name="started" datetimepicker ng-model="vm.started" options="vm.startedDatetimePickerOptions" on-change="vm.changeStarted(vm.started)">
            <input type="text" class="form-control form-control-sm" required />
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
          <div ng-messages="vm.form.monthlyForm.started.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Start Date is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2 bg-silver-lighter">Evaluation End Date</label>
        <div class="col-lg-4">
          <div class="input-group input-group-sm date" name="ended" datetimepicker ng-model="vm.ended" options="vm.endedDatetimePickerOptions" on-change="vm.changeEnded(vm.ended)">
            <input type="text" class="form-control form-control-sm" required />
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
          <div ng-messages="vm.form.monthlyForm.started.$error" role="alert">
            <p class="help-block error-text" ng-message="required">End Date is required.</p>
          </div>
        </div>
      </div>


      <div class="alert fade show m-t-20" ng-class="{
        'notApplicable': 'alert-secondary',
        'onStandby': 'alert-success',
        'completed': 'alert-secondary'
      }[vm.monthly.state]">
        Schedule State
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2 bg-silver-lighter">Attendance State</label>
        <div class="col-lg-4">
          <select class="form-control form-control-sm" chosen name="state" ng-model="vm.monthly.state">
            <option disabled value="">State...</option>
            <option value="notApplicable">Not Applicable</option>
            <option value="onStandby">On Standby</option>
            <option value="completed">Completed</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <!-- begin panel-footer -->
  <div class="panel-footer text-right">
    <button ng-click="vm.remove(vm.monthly)" class="btn btn-danger btn-sm pull-left"><i class="fas fa-trash"></i> Remove</button>
    <button ng-click="vm.modify(vm.form.monthlyForm.$valid)" class="btn btn-primary btn-sm"><i class="fas fa-check"></i> Submit</button>
  </div>
  <!-- end panel-footer -->
</div>

<div class="panel panel-inverse" ng-if="vm.monthly.state !== 'notApplicable'">

  <!-- begin panel-heading -->
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title height-20">Form</h4>
  </div>
  <!-- end panel-heading -->

  <div class="panel-body">

    <form class="form-horizontal form-bordered" name="vm.form.evaluationForm" novalidate autocomplete="off">

      <div class="alert alert-secondary show m-t-20">
        Monthly evaluation details. Latest modification date is <strong>{{vm.evaluation.updated | date: 'yyyy/MM/dd HH:mm'}}</strong>
      </div>

      <div class="form-group row" show-errors>
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="listeningLevel">Listening Level</label>
        <div class="col-lg-4">
          <select class="form-control form-control-sm" name="listeningLevel" chosen ng-model="vm.evaluation.listeningLevel" convert-to-number required>
            <option disabled value="">Listening...</option>
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
            <option value="4">Level 4</option>
            <option value="5">Level 5</option>
            <option value="6">Level 6</option>
            <option value="7">Level 7</option>
            <option value="8">Level 8</option>
            <option value="9">Level 9</option>
            <option value="10">Level 10</option>
          </select>
          <div ng-messages="vm.form.evaluationForm.listeningLevel.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Listening level is required.</p>
          </div>
        </div>

        <label class="col-form-label col-lg-2 bg-silver-lighter" for="speakingLevel">Speaking Level</label>
        <div class="col-lg-4">
          <select class="form-control form-control-sm" name="speakingLevel" chosen ng-model="vm.evaluation.speakingLevel" convert-to-number required>
            <option disabled value="">Speaking...</option>
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
            <option value="4">Level 4</option>
            <option value="5">Level 5</option>
            <option value="6">Level 6</option>
            <option value="7">Level 7</option>
            <option value="8">Level 8</option>
            <option value="9">Level 9</option>
            <option value="10">Level 10</option>
          </select>
          <div ng-messages="vm.form.evaluationForm.speakingLevel.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Speaking level is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group row" show-errors>
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="pronunciationLevel">Pronunciation Level</label>
        <div class="col-lg-4">
          <select class="form-control form-control-sm" chosen name="pronunciationLevel" ng-model="vm.evaluation.pronunciationLevel" convert-to-number required>
            <option disabled value="">Pronunciation...</option>
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
            <option value="4">Level 4</option>
            <option value="5">Level 5</option>
            <option value="6">Level 6</option>
            <option value="7">Level 7</option>
            <option value="8">Level 8</option>
            <option value="9">Level 9</option>
            <option value="10">Level 10</option>
          </select>
          <div ng-messages="vm.form.evaluationForm.pronunciationLevel.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Pronunciation level is required.</p>
          </div>
        </div>

        <label class="col-form-label col-lg-2 bg-silver-lighter" for="vocabularyLevel">Vocabulary Level</label>
        <div class="col-lg-4">
          <select class="form-control form-control-sm" name="vocabularyLevel" chosen ng-model="vm.evaluation.vocabularyLevel" convert-to-number required>
            <option disabled value="">Vocabulary...</option>
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
            <option value="4">Level 4</option>
            <option value="5">Level 5</option>
            <option value="6">Level 6</option>
            <option value="7">Level 7</option>
            <option value="8">Level 8</option>
            <option value="9">Level 9</option>
            <option value="10">Level 10</option>
          </select>
          <div ng-messages="vm.form.evaluationForm.vocabularyLevel.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Vocabulary level is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group row" show-errors>
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="grammarLevel">Grammar Level</label>
        <div class="col-lg-4">
          <select class="form-control form-control-sm" name="grammarLevel" chosen ng-model="vm.evaluation.grammarLevel" convert-to-number required>
            <option disabled value="">Grammar...</option>
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
            <option value="4">Level 4</option>
            <option value="5">Level 5</option>
            <option value="6">Level 6</option>
            <option value="7">Level 7</option>
            <option value="8">Level 8</option>
            <option value="9">Level 9</option>
            <option value="10">Level 10</option>
          </select>
          <div ng-messages="vm.form.evaluationForm.grammarLevel.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Grammar level is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group row" show-errors>
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="strengths">Strengths(+)</label>
        <div class="col-lg-10">
          <textarea class="form-control no-rounded-corner" name="strengths" rows="15" placeholder="Please, write contents here!" ng-model="vm.evaluation.strengths" required></textarea>
          <div ng-messages="vm.form.evaluationForm.strengths.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Strengths is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group row" show-errors>
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="weaknesses">Weaknesses(-)</label>
        <div class="col-lg-10">
          <textarea class="form-control no-rounded-corner" name="weaknesses" rows="15" placeholder="Please, write contents here!" ng-model="vm.evaluation.weeknesses" required></textarea>
          <div ng-messages="vm.form.evaluationForm.weaknesses.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Weaknesses is required.</p>
          </div>
        </div>
      </div>

      <div class="alert alert-secondary show m-t-20">
        General Comments
      </div>

      <div class="form-group row" show-errors>
        <label class="col-form-label col-lg-2 bg-silver-lighter" for="generalComment">General Comments</label>
        <div class="col-lg-10">
          <textarea class="form-control no-rounded-corner" name="generalComment" rows="15" placeholder="Please, write contents here!" ng-model="vm.evaluation.generalComment" required></textarea>
          <div ng-messages="vm.form.evaluationForm.generalComment.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tutor comments is required.</p>
          </div>
        </div>
      </div>

    </form>
  </div>

  <!-- begin panel-footer -->
  <div class="panel-footer text-right">
    <!-- <button ui-sref="schedule.monthly.list" class="btn btn-white btn-sm">Cancel</button> -->
    <button ng-click="vm.evaluate(vm.form.evaluationForm.$valid)" class="btn btn-primary btn-sm"><i class="fas fa-check"></i> Submit</button>
  </div>
  <!-- end panel-footer -->
</div>


<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
    </div>
    <h4 class="panel-title height-20">Comment</h4>
  </div>
  <div class="panel-body">
    <div slim-scroll box-height="200">
      <ul class="media-list media-list-with-divider media-messaging">
        <li class="media media-xs" ng-repeat="comment in vm.monthly.comments">
          <a href="javascript:;" class="pull-left">
            <img ng-src="{{comment.user.profileImage}}" alt="" class="media-object rounded-corner" />
          </a>
          <div class="media-body">
            <h5 class="media-heading">{{comment.user.nickName}} <small><i class="fa fa-clock fa-fw"></i> {{comment.created | date: 'yyyy-MM-dd HH:mm'}}</small></h5>
            <p ng-bind-html="comment.contents"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel-footer">
    <form name="vm.form.commentForm" novalidate autocomplete="off">
      <div class="input-group" show-errors>
        <input type="text" class="form-control bg-silver" name="commentContents" placeholder="Enter message" ng-model="vm.comment.contents" required />
        <div ng-messages="vm.form.commentForm.commentContents.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Start time is required.</p>
        </div>
        <span class="input-group-append">
          <button class="btn btn-primary" type="button" ng-click="vm.replyComment(vm.form.commentForm.$valid)"><i class="fa fa-pencil-alt"></i></button>
        </span>
      </div>
    </form>
  </div>
</div>
