<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
  <li class="breadcrumb-item">Schedule Status</li>
  <li class="breadcrumb-item active">Course Management</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Course Management</h1>
<!-- end page-header -->

<hr class="bg-grey-lighter" />

<div class="row">

  <div class="col-lg-12">
    <!-- begin panel -->
    <div class="panel panel-inverse">

      <!-- begin panel-heading -->
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title height-20">Filter</h4>
      </div>
      <!-- end panel-heading -->

      <!-- begin panel-body -->
      <div class="panel-body">
        <div class="row row-space-10">
          <div class="col-md-1">
            <div class="form-group m-b-10">
              <select class="form-control form-control-sm" chosen ng-model="vm.itemsPerPage" ng-options="itemsPerPage for itemsPerPage in vm.itemsPerPageNumbers" ng-change="vm.changeItemsPerPage(vm.itemsPerPage)"></select>
            </div>
          </div>
          <div class="col-md-1 m-t-5">
            <div class="form-group">
              Total <span class="text-danger">{{vm.courses.length}}</span>
            </div>
          </div>

          <div class="col-md-1 offset-md-6">
            <div class="form-group">
              <select class="form-control form-control-sm" chosen ng-model="vm.search.productType" ng-change="vm.figureOut()">
                <option value="">Type...</option>
                <option value="telephone">Telephone</option>
                <option value="skype">Skype</option>
                <option value="screenBoard">Screen Board</option>
              </select>
            </div>
          </div>

          <div class="col-md-1">
            <div class="form-group">
              <select class="form-control form-control-sm" chosen ng-model="vm.search.state" ng-change="vm.figureOut()">
                <option value="">State...</option>
                <option value="scheduled">Scheduled</option>
                <option value="inProgress">In Progress</option>
                <option value="hold">Hold</option>
                <option value="completed">Completed</option>
              </select>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group m-b-10">
              <input class="form-control form-control-sm" type="text" placeholder="Search..." ng-model="vm.search.$" ng-change="vm.figureOut()" />
            </div>
          </div>
        </div>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>

  <div class="col-lg-12">
    <!-- begin panel -->
    <div class="panel panel-inverse">

      <!-- begin panel-heading -->
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title height-20">List</h4>
      </div>
      <!-- end panel-heading -->

      <!-- begin panel-body -->
      <div class="panel-body">
        <!-- begin table-responsive -->
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th class="with-checkbox" width="1%">
                  <div class="checkbox checkbox-css">
                    <input type="checkbox" value="" id="table_checkbox_1" />
                    <label for="table_checkbox_1">&nbsp;</label>
                  </div>
                </th>
                <th class="text-center" width="1%">#</th>
                <th>Provider</th>
                <th>Course type</th>
                <th>Username</th>
                <th>Korean name</th>
                <th>Course period</th>
                <th>Days of week</th>
                <th>Minutes</th>
                <th>Tutor</th>
                <th width="10%">Progress</th>
                <th class="text-right">State</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="course in vm.pagedItems">

                <td class="with-checkbox">
                  <div class="checkbox checkbox-css">
                    <input type="checkbox" value="" id="table_checkbox_1" />
                    <label for="table_checkbox_1">&nbsp;</label>
                  </div>
                </td>

                <td>
                  {{course.counters}}
                </td>

                <td>
                  <span provider>{{course.providers[0]}}</span>
                </td>

                <td>
                  <span product-type>{{course.virtualProduct.productType}}</span>
                </td>

                <td class="with-img">
                  <img ng-src="{{course.user.profileImage}}" class="img-rounded height-30" />
                  <a ui-sref="member.view.modify({memberId: course.user._id})">{{course.user.username}}</a>
                </td>


                <td>
                  {{course.user.koreanName}}
                </td>

                <td>
                  {{course.startLesson.started | date: 'yyyy/MM/dd'}} ~ {{course.endLesson.started | date: 'yyyy/MM/dd'}}
                </td>

                <td class="with-btn-group" nowrap>
                  <div class="btn-group">
                    <button ng-repeat="day in course.daysOfWeek" class="btn btn-xs width-40 height-20" ng-class="{
                      'btn-primary': day.selected,
                      'btn-default': !day.selected}" ng-disabled="!day.selected">
                      {{day.name | uppercase}}
                    </button>
                  </div>
                </td>

                <td>
                  {{course.payment.paymentedProduct.minutes}} Min
                </td>

                <td class="with-img">
                  <img ng-src="{{course.mainTutor.profileImage}}" class="img-rounded height-30" />
                  <a href="javascript:;">{{course.mainTutor.nickName}}</a>
                </td>

                <td class="with-progress">
                  <div class="progress">
                    <span class="progress-text">{{course.currentCounting.lesson.completed}}<span ng-if="course.state === 'hold'">+{{course.currentCounting.lesson.hold}}</span>/{{course.maxCounting.lesson}} <strong>({{course.rating.lesson.completed}}%)</strong></span>
                    <div class="progress-bar" style="width:{{course.rating.lesson.completed}}%"></div>
                    <div class="progress-bar bg-warning" style="width: {{course.rating.lesson.hold}}%"></div>
                  </div>
                </td>

                <td class="text-right">
                  <span state>{{course.state}}</span>
                </td>

                <td class="text-right with-btn" nowrap>
                  <a ui-sref="member.view.course.list.detail({
                      memberId: course.user._id,
                      courseId: course._id})" class="btn btn-xs btn-white"><i class="fas fa-arrow-right"></i>
                    Course
                  </a>
                </td>

              </tr>
            </tbody>
          </table>

          <div class="pull-right">
            <ul uib-pagination class="pagination-sm" boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;"
              first-text="&laquo;" last-text="&raquo;">
            </ul>
          </div>
        </div>
        <!-- end table-responsive -->
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>

</div>
