<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
  <li class="breadcrumb-item">Tutor Management</li>
  <li class="breadcrumb-item"><a ui-sref="tutor.tutor-board.list">Tutor Board</a></li>
  <li class="breadcrumb-item active">Tutor Board Contents</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Tutor Board Contents</h1>
<!-- end page-header -->

<hr class="bg-grey-lighter" />

<div class="row">

  <!-- begin col-12 -->
  <div class="col-lg-12">
    <!-- begin panel -->
    <div class="panel panel-inverse">

      <!-- begin panel-heading -->
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title height-20">Contents</h4>
      </div>
      <!-- end panel-heading -->

      <!-- begin panel-body -->
      <div class="panel-body">
        <!-- begin wrapper -->
        <div class="wrapper">

          <div class="btn-group pull-right">
            <a ui-sref="tutor.tutor-board.list" uib-tooltip="Back" tooltip-placement="bottom" class="btn btn-link btn-sm">
              <i class="fa fa-list text-black"></i>
            </a>
            <a ui-sref="tutor.tutor-board.edit({tutorBoardId: vm.tutorBoard._id})" uib-tooltip="Edit" tooltip-placement="bottom" class="btn btn-link btn-sm">
              <i class="fa fa-edit text-black"></i>
            </a>
          </div>

          <h5 class="m-t-0 m-b-15 f-w-500">{{vm.tutorBoard.title}}</h5>
          <ul class="media-list underline m-b-15 p-b-15">
            <li class="media media-xs clearfix" style="align-items: flex-start;">
              <a href="javascript:;" class="pull-left">
                <img class="media-object rounded-corner" alt="" ng-src="{{vm.tutorBoard.user.profileImage}}" />
              </a>
              <div class="media-body">
                <div class="email-from text-inverse f-s-14 f-w-600 m-b-3">
                  {{(vm.tutorBoard.user.englishName)? vm.tutorBoard.user.englishName : vm.tutorBoard.user.nickName}}
                  <small>
                    &lt;{{vm.tutorBoard.user.email}}&gt;
                  </small>
                  <i ng-if="vm.targetTutor" class="fa fa-long-arrow-alt-right"></i>
                  {{vm.targetTutor.nickName}}
                  <small>
                    &lt;{{vm.targetTutor.email}}&gt;
                    <br />
                    <i class="fa fa-clock fa-fw"></i> {{vm.tutorBoard.created | date: 'yyyy-MM-dd HH:mm:ss'}}
                  </small>
                </div>

                <div class="email-to">
                  <a href="javascript:;" ng-repeat="tutor in vm.tutorBoard.tutors" ng-if="vm.auth.user.roles[0] === 'tutor'">
                    <img ng-src="{{tutor.profileImage}}" ng-if="vm.auth.user._id === tutor._id" class="img-rounded height-30 m-1" uib-tooltip="{{tutor.nickName}}" tooltip-placement="bottom" />
                  </a>
                  <a href="javascript:;" ng-click="vm.targetTutor = tutor" ng-repeat="tutor in vm.tutorBoard.tutors" ng-if="vm.auth.user.roles[0] !== 'tutor'">
                    <img ng-src="{{tutor.profileImage}}" ng-class="{'height-50': vm.targetTutor._id === tutor._id}" class="img-rounded height-30 m-1" uib-tooltip="{{tutor.nickName}}" tooltip-placement="bottom" />
                  </a>
                </div>
              </div>
            </li>
          </ul>
          <ul class="attached-document clearfix" ng-if="vm.tutorBoard.attachmentFiles.length > 0">
            <li ng-repeat="fileItem in vm.tutorBoard.attachmentFiles">
              <div class="document-file">
                <a href="javascript:;">
                  <i ng-if="!vm.isImage(fileItem.mimetype)" class="fa {{fileItem.iconClass}}"></i>
                  <img ng-if="vm.isImage(fileItem.mimetype)" src="{{fileItem.path}}" alt="" />
                </a>
              </div>
              <div class="document-name">
                <a href="{{fileItem.path}}" download="{{fileItem.originalname}}" target="_self">{{fileItem.originalname}}<small>({{fileItem.size | filesize}})</small></a>
              </div>
            </li>

          </ul>

          <div class="f-s-12 text-inverse p-t-10" ng-bind-html="vm.tutorBoard.contents | unsafe"></div>
        </div>
        <!-- end wrapper -->

      </div>
      <!-- end panel-body -->

      <!-- begin panel-footer -->
      <div class="panel-footer text-right">
        <button class="btn btn-danger btn-sm pull-left" ng-if="vm.auth.user.roles[0] !== 'tutor'" ng-click="vm.removeTutorBoard()">
          <i class="fa fa-trash"></i> Remove
        </button>
        <button class="btn btn-white btn-sm" ui-sref="tutor.tutor-board.list">
          <i class="fa fa-list"></i> List
        </button>
        <button class="btn btn-primary btn-sm" ng-if="vm.auth.user.roles[0] !== 'tutor'" ui-sref="tutor.tutor-board.edit({tutorBoardId: vm.tutorBoard._id})">
          <i class="fa fa-edit"></i> Edit
        </button>
      </div>
      <!-- end panel-footer -->


      <!-- begin panel-body -->
      <div class="panel-body bg-grey-transparent-2" ng-if="vm.targetTutor">

        <!-- begin textarea -->

        <div class="panel-footer text-right p-0" style="background: transparent">
          <form name="vm.form.replyCommentForm">
            <div class="form-group" show-errors>
              <textarea class="form-control no-rounded-corner" rows="3" name="newComment" placeholder="Please, write comment here!" ng-model="vm.comment.contents" required></textarea>
              <div ng-messages="vm.form.replyCommentForm.newComment.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Comments is required.</p>
              </div>
            </div>
          </form>
          <a href="javascript:;" class="btn btn-white btn-sm" ng-click="vm.replyComment(vm.form.replyCommentForm.$valid)"><i class="fas fa-reply"></i> Reply</a>
        </div>
        <!-- end textarea -->


        <div class="media media-xs" ng-repeat="comment in vm.tutorBoard.comments" ng-if="comment.to === vm.targetTutor._id || comment.user._id === vm.targetTutor._id">
          <a class="media-left" href="javascript:;">
            <img ng-src="{{comment.user.profileImage}}" alt="" class="media-object" />
          </a>
          <div class="media-body">
            <h4 class="media-heading reply-wrapper f-s-14">{{comment.user.nickName}}
              <small ng-class="{'shadow-line': vm.auth.user.username === comment.user.username}"><i class="fa fa-clock fa-fw"></i> {{comment.created | date: 'yyyy-MM-dd HH:mm:ss'}}</small>
              <div class="btn btn-group" ng-if="vm.auth.user.username === comment.user.username">
                <button ng-click="vm.openEditComment(comment)" class="btn btn-link btn-xs" uib-tooltip="Edit" tooltip-placement="right"><i class="fa fa-edit text-black"></i></button>
                <button ng-click="vm.removeComment(comment)" class="btn btn-link btn-xs" uib-tooltip="Remove" tooltip-placement="right"><i class="fa fa-trash text-black"></i></button>
              </div>
            </h4>

            <div ng-if="vm.currentComment._id !== comment._id" ng-bind-html="comment.contents"></div>

            <div ng-if="vm.currentComment._id === comment._id">
              <form name="vm.form.editCommentForm">
                <div class="form-group" show-errors>
                  <textarea class="form-control no-rounded-corner" rows="3" name="getComment" placeholder="Please, write comment here!" ng-model="vm.currentComment.contents" required></textarea>
                  <div ng-messages="vm.form.editCommentForm.getComment.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Comments is required.</p>
                  </div>
                </div>
                <div class="text-right m-t-10">
                  <a href="javascript:;" class="btn btn-primary btn-sm" ng-click="vm.editComment(vm.form.editCommentForm.$valid, vm.currentComment)"><i class="fas fa-check"></i> Submit</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- end panel-body -->

    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->
</div>
