<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
  <li class="breadcrumb-item">Schedule Status</li>
  <li class="breadcrumb-item"><a ui-sref="schedule.leveltest.list">Leveltest/Application Status</a></li>
  <li class="breadcrumb-item active">Register for Leveltest(Member)</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Register for Leveltest(Member)</h1>
<!-- end page-header -->

<hr class="bg-grey-lighter" />

<div class="row">

  <div class="col-lg-12">

    <!-- begin panel -->
    <div class="panel panel-inverse">

      <!-- begin panel-heading -->
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-expand><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-reload><i class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" panel-collapse><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" panel-remove><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title height-20">Form</h4>
      </div>
      <!-- end panel-heading -->

      <!-- begin panel-body -->
      <div class="panel-body">

        <form class="form-horizontal form-bordered" name="vm.form.leveltestForm" novalidate autocomplete="off">

          <div class="alert alert-secondary fade show">
            Select a provider and then select a <strong>member</strong>
          </div>

          <div class="form-group row" show-errors>
            <label class="col-form-label col-lg-2 bg-silver-lighter"><span class="text-danger">*</span>Providers</label>
            <div class="col-lg-4">
              <select class="form-control form-control-sm" chosen name="provider" ng-model="vm.leveltest.providers" ng-options="provider for provider in vm.auth.user.providers" ng-change="vm.changeProviders(vm.leveltest)" required>
                <option disabled value="">Provider...</option>
              </select>
              <div ng-messages="vm.form.leveltestForm.provider.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Providers is required.</p>
              </div>
            </div>
          </div>

          <div class="form-group row" show-errors>
            <label class="col-form-label col-lg-2 bg-silver-lighter"><span class="text-danger">*</span>Member Username</label>
            <div class="col-lg-4">
              <select class="form-control form-control-sm" chosen name="member" ng-model="vm.member" ng-options="member.username for member in vm.members" required>
                <option disabled value="">Member...</option>
              </select>
              <div ng-messages="vm.form.leveltestForm.member.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Member is required.</p>
              </div>
            </div>
          </div>

          <div ng-if="vm.member">
            <div class="form-group row">
              <label class="col-form-label col-lg-2 bg-silver-lighter">Korean Name</label>
              <div class="col-lg-4">
                {{vm.member.koreanName}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-lg-2 bg-silver-lighter">English Name</label>
              <div class="col-lg-4">
                {{vm.member.englishName}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-lg-2 bg-silver-lighter">Mobile</label>
              <div class="col-lg-4">
                {{vm.member.mobile | mobile}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-lg-2 bg-silver-lighter">E-mail</label>
              <div class="col-lg-4">
                {{vm.member.email}}
              </div>
            </div>

          </div>

          <div class="alert alert-secondary fade show m-t-20">
            <span class="text-danger f-s-15">*</span>Leveltest application information
          </div>


          <div class="form-group row">
            <label class="col-form-label col-lg-2 bg-silver-lighter"><span class="text-danger">*</span>Leveltest Hope Type</label>
            <div class="col-lg-4">
              <div class="radio radio-css radio-inline">
                <input type="radio" name="productType" id="telephone" value="telephone" ng-model="vm.application.productType" />
                <label for="telephone">Telephone</label>
              </div>
              <div class="radio radio-css radio-inline">
                <input type="radio" name="productType" id="skype" value="skype" ng-model="vm.application.productType" />
                <label for="skype">Skype</label>
              </div>
              <div class="radio radio-css radio-inline">
                <input type="radio" name="productType" id="screenBoard" value="screenBoard" ng-model="vm.application.productType" />
                <label for="screenBoard">Screen Board</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-lg-2 bg-silver-lighter"><span class="text-danger">*</span>Conversation Skill</label>
            <div class="col-lg-4">
              <select class="form-control form-control-sm" chosen name="skill" ng-model="vm.application.skill">
                <option disabled value="">Skill...</option>
                <option value="novice">왕초보 수준</option>
                <option value="conversation">기본대화 가능</option>
                <option value="communication">의사소통 원활</option>
                <option value="debate">주제토론 가능</option>
              </select>
            </div>
          </div>

          <!-- <div class="form-group row">
            <label class="col-form-label col-lg-2 bg-silver-lighter" for="contents">Contents</label>
            <div class="col-lg-10">
              <div ng-bind-html="vm.leveltest.contents"></div>
            </div>
          </div> -->

          <div class="alert alert-secondary fade show m-t-20">
            <span class="text-danger f-s-15">*</span>Schedule information
          </div>

          <div class="form-group row" show-errors>
            <label class="col-form-label col-lg-2 bg-silver-lighter"><span class="text-danger">*</span>Start Date</label>
            <div class="col-lg-4">

              <div class="input-group input-group-sm date" name="started" datetimepicker ng-model="vm.leveltest.started" options="vm.datetimePickerOptions">
                <input type="text" class="form-control form-control-sm" required />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>

              <div ng-messages="vm.form.leveltestForm.started.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Start date is required.</p>
              </div>
            </div>
          </div>

          <div class="form-group row" show-errors>
            <label class="col-form-label col-lg-2 bg-silver-lighter"><span class="text-danger">*</span>Leveltest Minutes</label>
            <div class="col-lg-4">
              <select class="form-control form-control-sm" chosen name="minutes" ng-model="vm.application.minutes" convert-to-number>
                <option disabled value="">Minutes...</option>
                <option value="10">10 Minutes</option>
                <option value="20">20 Minutes</option>
                <option value="30">30 Minutes</option>
              </select>
              <div ng-messages="vm.form.leveltestForm.minutes.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Leveltest Minutes is required.</p>
              </div>
            </div>
          </div>

          <div class="form-group row" show-errors>
            <label class="col-form-label col-lg-2 bg-silver-lighter"><span class="text-danger">*</span>Tutor</label>
            <div class="col-lg-4 form-chosen-up">
              <select class="form-control form-control-sm" chosen name="tutor" ng-model="vm.tutor" ng-options="tutor.nickName for tutor in vm.tutors" required>
                <option disabled value="">Tutors...</option>
              </select>
              <div ng-messages="vm.form.leveltestForm.tutor.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Tutor is required.</p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end panel-body -->

      <!-- begin panel-footer -->
      <div class="panel-footer text-right">
        <button ui-sref="schedule.leveltest.list" class="btn btn-white btn-sm">Cancel</button>
        <button ng-click="vm.regist(vm.form.leveltestForm.$valid)" class="btn btn-primary btn-sm"><i class="fas fa-check"></i> Submit</button>
      </div>
    </div>
    <!-- end panel-footer -->
  </div>
  <!-- end panel -->
</div>
