body {
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .panel-body .form-horizontal.form-bordered .form-group>.control-label, .form-bordered .form-group>.col-form-label {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    text-align: right;
  }

  .panel-body .form-horizontal.form-bordered .form-group>.control-label, .form-bordered .form-group>.col-form-label>span.text-danger {
    padding-right: 3px;
    margin-top: 3px;
  }

  .panel-body .form-horizontal.form-bordered .form-group>div {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
  }

  .panel-view {}
}

/**
 * Angular Message validate
 */
.error-text {
  display: none;
}

.has-error .help-block.error-text {
  display: inline-block;
  background-color: rgba(255, 91, 87, .8);
  color: #fff;
  line-height: 1;
  border-radius: 5px;
  padding: 6px 8px;
  font-size: 12px;
  margin-top: 1px;
}

.has-error .help-inline.error-text {
  display: inline;
}

/**
 * Toast
 */
.toast-success {
  background-color: #00acac;
}

.toast-error {
  background-color: #ff5b57;
}

.toast-info {
  background-color: #49b6d6;
}

.toast-warning {
  background-color: #f59c1a;
}

small.shadow-line {
  box-shadow: inset -1px 0 0 rgba(100, 121, 143, 0.522);
  padding-right: 10px;
}

.reply-wrapper div.btn {
  padding: 0;
}

.form-horizontal.form-bordered .form-group>div {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 30px;
}

.btn-file {
  overflow: hidden;
  position: relative;
}

.btn-file input[type=file] {
  background: white;
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  font-size: 100px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.form-control-select2 .select2-container .select2-selection--single, .select2-container--default .select2-selection--multiple {
  min-height: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.form-control-select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px !important;
}

.form-control-select2 .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice {
  margin-top: 2px !important;
  height: 25px !important;
  line-height: 25px !important;
}

.select2-container--default .select2-selection--single {
  border-color: #d3d8de !important;
}

.with-progress .progress-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  text-align: center;
}

.with-progress .progress {
  position: relative;
}

.form-progress .progress-text {
  position: absolute;
  left: 0;
  top: -6px;
  width: 100%;
  display: block;
  text-align: center;
}

.form-progress .progress {
  position: relative;
  margin-top: 7px;
}

.dropdown-menu .dropdown-menu>.active {
  left: 0;
}

.form-group.form-control-select2 .select2.select2-container.select2-container--default {
  width: 100% !important;
}

.form-group.form-control-select2 .select2.select2-container.select2-container--default .select2-selection__rendered {
  border-color: rgb(211, 216, 222);
}

.chosen-container {
  font-size: 12px;
  width: 100% !important;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #348fe2;
  background-image: none;
  color: #fff;
}

.chosen-container-multi .chosen-choices {
  border: 1px solid #d3d8de;
  background-image: none;
  height: 30px;
  border-radius: 4px;
}

.chosen-container-single .chosen-single {
  height: 30px;
  line-height: 30px;
  background-image: none;
  background-color: #fff;
  border: 1px solid #d3d8de;
}

.chosen-container-single .chosen-single div b {
  background-position: 0 5px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  height: 30px;
  line-height: 30px;
  background-image: none;
  background-color: #fff;
  border: 1px solid #d3d8de;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: 0 5px;
}

.chosen-container-single .chosen-search input[type=text] {
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 34px;
}

.chosen-container-single .chosen-search input[type=text]:focus {
  border-color: #5db0ff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.125rem rgba(52, 142, 227, 0.3) !important;
}

.chosen-container-single .chosen-drop {
  border: none !important;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15) !important;
  z-index: 1020 !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
  border: 0;
  background-color: #e4e4e4;
  background-image: none;
  color: #2d353c;
  font-size: 12px;
}

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: 700;
  cursor: default;
  color: #242a30;
  padding: 6px;
}

.chosen-container-single .chosen-single {
  box-shadow: none;
}

/* .theme-panel .theme-tab .btn-tp-close {
  background-color: transparent !important;
  line-height: 16px;
  color: #fff;
  vertical-align: top;
  display: inline-block;
  margin-top: 2px;
}

.theme-panel .theme-tab .btn-tp-close:hover {
  background-color: #fff;
}

.theme-panel .theme-tab .btn-tp-close:hover i {
  color: #666;
}

.theme-panel .theme-tab .btn-tp-user {
  vertical-align: top;
  display: inline-block;
  line-height: 16px;
  margin-top: 1px;
}

.theme-panel .theme-tab .btn-tp-user .label.label-default {
  background-color: #666;
  color: #fff;
}

.theme-panel .theme-tab.active {
  color: #666;
}

.theme-panel .theme-tab.active {
  z-index: 3000;
  left: -180px !important;
  background-color: #fff !important;
}

.theme-panel .theme-tab.active .btn-tp-close {
  color: #666;
}

.theme-panel .theme-tab.active .label.label-default {
  background-color: #fff !important;
  color: #666 !important;
}

.theme-panel .theme-tab.active:hover .btn-tp-close i {
  color: #666 !important;
}

.theme-panel .theme-tab:hover {
  background-color: #ddd;
}

.theme-panel .theme-tab:hover .btn-tp-close {
  color: #666;
}

.theme-panel .theme-tab:hover .label.label-default {
  background-color: #ddd;
  color: #666;
} */
.form-chosen-up .chosen-drop {
  top: inherit !important;
  bottom: 30px !important;
}

.form-horizontal.form-bordered .form-group.has-error .chosen-container-single .chosen-single {
  border-color: red;
}

.content {
  padding: 20px 30px 60px 30px;
}

#modal-without-animation .talk-dream.modal-dialog {
  max-width: 205px;
  transform: translate(0, 100px);
}

#modal-without-animation .talk-dream.modal-dialog .modal-content .modal-body {
  padding: 15px 15px 25px 15px;
  overflow: hidden;
  word-wrap: break-word;
}

.talk-dream-header {
  text-align: center;
  padding: 10px 0;
  background: #ffd900;
  color: #000;
  font-weight: 900;
}

.surem-header {
  text-align: center;
  padding: 10px 0;
  /* background: #ffd900; */
  border-bottom: 1px solid;
  color: #000;
  font-weight: 900;
}

/* calendar */
.bootstrap-datetimepicker-widget td.day.disabled {
  font-weight: 400;
}

.bootstrap-datetimepicker-widget td.day.disabled:hover {
  background: #fff;
}

.bootstrap-datetimepicker-widget td.day {
  font-weight: 700;
  color: #348fe2;
}

input[type=range] {
  height: 5px;
  -webkit-appearance: none;
  margin: 0px 0;
  border: none;
  width: 100%;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

/* line */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #348fe2;
  border-radius: 25px;
  border: 0px solid #348fe2;
}

/*  bar */
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
  height: 25px;
  width: 25px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1c84c6;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #AC51B5;
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001C;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #AC51B5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #AC51B5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001C;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #fefefe;
}

input[type=range]:focus::-ms-fill-upper {
  background: #AC51B5;
}

.form-range input[type=range] {
  margin-top: 10px;
}

/* .table-success custom */
.table-success td, .table-success th {
  background-color: #b8e8e8 !important;
}

.small-chat-box {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 30px;
  background: #fff;
  border: 1px solid #e7eaec;
  width: 230px;
  min-height: 370px;
  border-radius: 4px;
  z-index: 2000;
}

.small-chat-box.ng-small-chat {
  display: block;
}

.table .with-img img {
  margin-right: 5px;
}

/* .custom-switcher .switcher label{
  width:28px;
  height:16px;
}
.custom-switcher .switcher label:before{
  width:28px;
  height:16px;
}
.custom-switcher .switcher label:after{
  width:14px;
  height:14px;
}
.custom-switcher .switcher input:checked+label:after{
  left:12px;
} */
.custom-control {
  position: relative;
  display: inline;
  min-height: 1.125rem;
  padding-left: 1.5rem;
}

.custom-control-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #348fe2;
  background-color: #348fe2;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 .2rem rgba(52, 143, 226, .25);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: #5db0ff;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
  color: #fff;
  background-color: #d0e5f8;
  border-color: #d0e5f8;
}

.custom-control-input:disabled~.custom-control-label {
  color: #6c757d;
}

.custom-control-input:disabled~.custom-control-label::before {
  background-color: #e9ecef;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-label::before {
  position: absolute;
  top: .0625rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: .0625rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%
}

.custom-checkbox .custom-control-label::before {
  border-radius: 4px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
  border-color: #348fe2;
  background-color: #348fe2;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::after {
  background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23FFFFFF' d='M0 2h4'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
  background-color: rgba(52, 143, 226, .5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before {
  background-color: rgba(52, 143, 226, .5);
}

.custom-radio .custom-control-label::before {
  border-radius: 50%
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFFFFF'/%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
  background-color: rgba(52, 143, 226, .5);
}

.custom-switch {
  /* padding-left: 4.25rem; */
}

.custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 1.75rem;
  pointer-events: all;
  border-radius: .5rem;
}

.custom-switch .custom-control-label::after {
  top: calc(.0625rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  background-color: #adb5bd;
  border-radius: .5rem;
  transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
  .custom-switch .custom-control-label: :after {
    transition: none;
  }
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
  background-color: #fff;
  transform: translateX(.75rem);
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
  background-color: rgba(52, 143, 226, .5);
}

.btn-group.btn-group-block {
  width: 100%;
}

.btn-group.btn-group-block a:nth-child(1) {
  width: inherit;
}

.template-upload.fade.show.in.current>td {
  border-color: #fff;
  background-color: #fff;
}

.no-underline: {
  text-decoration: none !important;
}

/* .fc-event {
  text-align: center;
  height: 30px !important;
  font-size: 12px;
}

.fc a.fc-event:not([href]):not([tabindex]) {
  padding: 3px 5px;
  border: 1px solid #fff !important;
  box-sizing: border-box;
} */
